{% extends "main_layout.html" %}

{% block titulo %}Gestión de Productos{% endblock %}
{% block body %}
    <div class="card" id="carta1">
      <h2 class="card_title">Gestión de productos</h2>
      <form action="form_productos/" method="POST" name="gestion_productos" class="card_body">
      <input type="number" name="id" placeholder="Id" disabled><br>
      <input type="text" name="nombre" placeholder="Nombre"><br>
      <label for="variedad">Variedad</label>
      <select name="variedad" id="variedad">
        <option value="Guri">Guri</option>
        <option value="Merin">Merin</option>
        <option value="Olimar">Olimar</option>
        <option value="Tacuari">Tacuari</option>
      </select>
    <label for="procedencia">Procedencia</label>
      <select name="procedencia" id="procedencia">
        <option value="Querencia">La Querencia</option>
        <option value="StaTeresa">Sta Teresa</option>
      </select>
    <label for="zafra">Zafra</label>
      <select name="zafra" id="zafra">
        <option value="2019">2019</option>
        <option value="2018">2018</option>
      </select>
      <input type="text" name="tipo" placeholder="Tipo"><br>
      <input type="submit" value="Send" id="send"><br>
      </form>
    </div>
  </body>
</html>
{% endblock %}
