<!DOCTYPE html>
<html>
<!--HEAD///////////////////////////////////////////////////////////////////-->
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}"><!--CSS IMPORT-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/modales.css' %}"><!--CSS IMPORT-->
    <script src="{% static 'js/modales.js' %}"></script><!--FONTAWESOME IMPORT-->
    <script src="https://kit.fontawesome.com/526982f0d2.js" crossorigin="anonymous"></script><!--FONTAWESOME IMPORT-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" crossorigin="anonymous"></script><!--CHARTS IMPORT-->
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet"><!--FONT OSWALD IMPORT-->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet"><!--FONT GARAMOND IMPORT-->
    <title>{% block titulo %}{% endblock %}</title><!--Titulo de la pagina-->
  </head>
<!--BODY///////////////////////////////////////////////////////////////////-->
  <body>
    <script src="{% static 'js/qrcode.js' %}"></script>
<!--BARMENU////////////////////////////////////////////////////////////////-->
    <div class="bar">
      <span class="logo">BAGGIE</span>
      <span class="user">
      John Doe
      </span>
      <img src="{% static 'img/John-Doe.jpg' %}"  class="profile_picture">
    </div>
<!--BODY CONTAINER/////////////////////////////////////////////////////////-->
    <div class="container">
<!--SIDEPANEL(PROFILE)/////////////////////////////////////////////////////-->
      <div class="navbar">
        <ul class="menu"><!--Menu-->
          <li class="menu_item"><a href=/dashboard/>Dashboard</a></li>
          <li class="menu_item"><a href=/empaques/>Gestión de empaques</a></li>
          <li class="menu_item"><a href=/productos/>Gestión de productos</a></li>
          <li class="menu_item"><a href=/usuarios/>Gestión de usuarios</a></li>
          <li class="menu_item"><a href=/incidencias/>Reporte de incidencias</a></li>
          <li class="menu_item"><a href=/operaciones/>Control de operaciones</a></li>
        </ul>
      </div>
<!--BODYPANEL//////////////////////////////////////////////////////////////-->
      <div class="bodypanel"><!--Contenido del body-->
        {% block body %}{% endblock %}
        <div>
        {% include "modales.html" %}
        </div>
      </div><!--Fin del contenido del body-->
  </body>
<!--END////////////////////////////////////////////////////////////////////-->
  </html>
