{% extends "main_layout.html" %}

{% block titulo %}Gestión de Usuarios{% endblock %}
{% block body %}
<div class="card" id="carta1">
<h1 class="card_title">Gestión de Usuarios</h1>
<div class="card_body">
  <span><form action="fbp/" method="POST" name="busqueda_empaques">
  <input type="text" name="busqueda" placeholder="Buscar" class="searcher">
  <button type="submit" value="Send" id="send" class="button_search"><i class="fas fa-search"></i></button>
  </form></span>
  <a class="button" href=/empaques/frm/>Nuevo usuario</a><br>
    {% if usuarios %}
    <table>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Cedula</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
      {% for usuario in usuarios %}
      <tr>
        <form action="modify/" method="POST" name="modificar_usuario" class="card_body">
          <td><input type="number" name="id" placeholder="Id" value="{{ usuario.id }}" ></td>
          <td><input type="text" name="nombre" placeholder="Nombre" value="{{ usuario.nombre }}"></td>
          <td><input type="email" name="email" placeholder="Email" value="{{ usuario.email }}"></td>
          <td><input type="number" name="cedula" placeholder="Cedula" value="{{ usuario.cedula }}"></td>
          <td><select name="rol" id="rol">
              <option value={{ usuario.rol }}>Rol actual: {{ usuario.rol }} </option>
              <option value=1>1 - Administrador</option>
              <option value=2>2 - Usuario</option>
              <option value=3>3 - Operador</option>
            </select></td>
            <td><button type="submit" value="Modificar" id="send" class="button_icon" title="Guardar"><i class="fas fa-save"></i></button>
                <button type="submit" value="Borrar" id="send" class="button_icon" title="Borrar"><a class="fas fa-trash"></a></button>
            </td>
          </form>
        </tr>
      {% endfor %}
    {% else %}
    <table>
      <tr>
        <td>No hay usuarios registrados!</td>
      </tr>
    </table>
    {% endif %}
</div>
{% endblock %}
